/* Save exercise HTML and your styling in a stylesheet.
Remember that extra space can be created between flex items by setting margin to auto.
The navbar must have the following:
- box-sizing: border-box for all elements
- link text, the logo, and icons are surrounded by anchor tags
- links turn blue on hover
- anchor tags are display: inline-block
- clickable area of links immediately flow from one link to the next (padding will help achieve this)
- Google Fonts used for logo and link text ("Montserrat" and "Work Sans", respectively)
- the "Logo" text is 3em with .2em of padding above and below
- no explicit height given to the navbar
- default styling is removed as needed from the body, unordered list and anchor tag elements
- logo is absolutely positioned to completely center text on the navbar
Bonuses
Using the following link, choose a footer to create and style using flexbox.
https://www.baamboostudio.com/weebly-design-inspiration-footer-design/
*/

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: grey;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* made unordered list a flex container */
}
li {
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: "Work Sans", sans-serif;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
    align-items: center;
}
nav a:hover {
    color: blue;
}
nav ul li:nth-child(5) {
    /*
        this allows the last flex item to be right justified
        by filling remaining space to the left of the flex item with margin
    */
    flex-basis: 30%;
    max-height: 10vh;
    margin: auto;
    padding: .2em 0;
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    align-items: center;
    /*position: absolute;*/
    /* class solution is different, it added classes for logo and logo anchor
    logo class - width 100%, display flex
    class logo anchor -
    class li not logo - z-index -1 (
     */

}
nav ul li a i {
    font-size: 1em;
}