/* The grid container should be 500x500px and contain eight
equally-sized columns and eight equally-sized rows.
*/
:root {
    --main-margin: 1em;
    --main-div-border: 3px;
    --grid-block-size: calc(100%/8);
}
* {
    box-sizing: border-box;
}
body {
    margin: var(--main-margin);
}
main {
    /* add margin to make the top of our grid more visible */
    height: 500px;
    width: 500px;
    border: var(--main-div-border) solid black;
    display: grid;
    grid-template-columns: repeat(8, var(--grid-block-size));
    grid-template-rows: repeat(8, var(--grid-block-size));
}
main div {
    background: white;
    border: var(--main-div-border) solid black;
}
/*grid-area: row-start / col-start / row-end / col-end;*/
.one {grid-area: 1 / 1 / span 2 / span 2}
.two {grid-area: 1 / 3 / span 3 / span 6}
.three {grid-area: 3 / 1 / span 3 / span 2}
.four {grid-area: 4 / 3 / span 4 / span 2}
.five {grid-area: 4 / 5 / span 2 / span 4}
.six {grid-area: 6 / 1 / span 2 / span 2}
.seven {grid-area: 6 / 5 / span 2 / span 4}
.eight {grid-area: 8 / 1 / span 1 / span 2}
.nine {grid-area: 8 / 3 / span 1 / span 6}

/* assign colors */
.one, .nine {
    background: blue;
}
.two, .eight {
    background: red;
}
.three, .seven {
    background: yellow;
}
.four, .five, .six {
    background: white;
}
